@media screen and (max-width: 1400px) {
   #profile{
    height: 83vh;
    margin-bottom: 6rem;

   }
   .about-containers{
    flex-wrap: wrap;
    gap: 1rem;
   }
}


@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }

    #desktop2-nav{
        display: flex;
    }

    #Experience{
      margin-top: 2rem; 
    }
    .Experience-details-container{
        margin-top: 2rem;
      }

    #profile, .section-containers{
        display: block;
    }
    .arrow{
        display: none;
    }
    section, .section-containers{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section__pic-container1{
        width: 200px;
        height: 200px;
        margin: 0 auto 2rem;
        margin-left: 5.5rem;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .section-container{
        margin-top: 1rem;
       
    }
    .section-container{
        display: block;
    }
    h1, .title1{
        margin-left: 1rem;
    }

    p{
       height: fit-content;
    }
   .section__text__p12{
        margin-left: 1rem;
        margin-top: 0;
    }
    
    section, .about{
        margin: 0;
        margin-bottom: 10rem;
    }
    .text-container{
        font-size: 1rem;
        text-align: justify;
    }
    .Contact-icon{
        height: 1.5rem;
        width: 1.5rem;
    }
    
}
    @media screen and (max-width: 600px) {
        #contact, footer{
            height: 15vh;
        }

        #profile{
            height: 83vh;
            margin-bottom: 0;
            margin-top: 3rem;
        }
        article{
            font-size: 1rem;
        }
        footer nav{
        height: fit-content;
        margin-bottom: 2rem;
        }

        .about-containers,  .btn-container{
            flex-wrap: wrap;
        }
        .contact-info-upper-container{
            display: block;
        }
        .contact-info-container{
            margin: 0;
        }
        .contact-info-container p, .nav-links li a{
           font-size: 1rem; 
        }
        .Experience-details-container{
           font-size: 1.20rem; 
        }

        .nav-links{
            gap: 1rem;
        }

        .section__text__p2{
            font-size: 1.25rem;
            margin-bottom: 1%;
        }
        .section__text__p1{
            font-size: 1.25rem;
        }
        .title{
            font-size: 2rem;
            
        }
        
    
}
